<footer class="footer-footer section-container footer-root-class-name">
    <div class="footer-max-width max-content-container">
      <div class="footer-banner">
        <h1 class="footer-text Heading2">
          <span>We’d love to hear</span>
          <br />
          <span>what you think!</span>
        </h1>
        <span class="footer-text03">
          Give feedback
        </span>
        <div class="footer-btns-container">
          <button  routerLink="/aboutus"
            class="footer-register-now button-primary button-lg button"
          >
            About Us
          </button>
          <button routerLink="/contact"
            class="footer-contact-us button button-outline button-lg-border"
          >
            CONTACT US
          </button>
        </div>
      </div>
      <div class="footer-bottom-container">
        <div class="footer-left-side">
          <img
            alt="image"
            src=""
            class="footer-image"
          />
          <span class="footer-text04">
            RHeart your home with style and decor
            Giving your home a makeover does not have to be expensive. Armed with some know how, 
            a few small touches and Walmart's Every Day Low Prices on home furnishings and decor, 
            you can breathe new life into your living space whether it be with fresh furniture like a bedroom set or 
            something functional like a new bookshelf.
          </span>
          <div class="footer-social-media">
            <span class="footer-text05">Terms of Use</span>
            <div class="footer-container">
            </div>
          </div>
        </div>
        <div class="footer-links">
          <div class="footer-container1">
            <span class="footer-text06">Product</span>
            <span class="footer-link">All Departments</span>
            <span class="footer-link">Store Directory</span>
            <span class="footer-link">Careers</span>
            <span class="footer-link">Sell on Walmart.com</span>
            <span class="footer-link">Help</span>
            <span class="footer-text12 footer-link">Product Recalls</span>
          </div>
          <div class="footer-container2">
            <span class="footer-text13">
              <span>Contact</span>
              <br />
              <span></span>
            </span>
            <span class="footer-link">Accessibility</span>
            <span class="footer-link">Tax Exempt Program</span>
            <span class="footer-link">Get the Walmart App</span>
            <span class="footer-link">Sign-up for Email</span>
            <span class="footer-text20 footer-link">Safety Data Sheet</span>
          </div>
        </div>
      </div>

    </div>
  </footer>
  

  
  
  
  
  
  




