.footer-footer {
    /* padding-top: 20%; */
    background-color: #0f1722ff;
}
.section-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 96px;
    flex-direction: column;
    padding-bottom: 96px;
}
* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
.footer-max-width {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.max-content-container {
    width: 100%;
    display: flex;
    max-width: 1158px;
    align-items: center;
    padding-left: 24px;
    padding-right:24px;
    justify-content: center;
}
.footer-banner {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: -15%;
    align-items: center;
    padding-top: 56px;
    padding-left: 24px;
    margin-bottom: 124px;
    padding-right: 24px;
    flex-direction: column;
    padding-bottom: 70px;
    background-size: cover;
    background-color: #0071ce;
}
.footer-text {
    color: #ffc220;
    text-align: center;
    margin-bottom: 8px;
}
.Heading2 {
    font-size: 42px;
    font-family: IBM Plex Sans Condensed;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-text03 {
    color: white;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer-btns-container {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
}
.footer-register-now {
    color: #0d1f3aff;
    margin-right: 24px;
    background-color: white;
}
.button-primary {
    color: white;
    cursor: pointer;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    line-height: 1;
    border-color: transparent;
    text-transform: uppercase;
    background-color: #0975f1ff;
}

.button {
    color: #0f1722ff;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    border-color: #0f1722ff;
    border-width: 0px;
    border-radius: 0px;
    background-color: white;
}
.footer-contact-us:hover {
    color: white;
    border-color: #ffc220;
    background-color: #ffc220;
}

.button-outline:hover {
    color: white;
    border-color: #ffc220;
    background-color: #ffc220;
}
.footer-contact-us {
    color: white;
    border-color: white;
}
.button-lg-border, .footer-register-now {
    padding-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 18px;
}

.button-outline {
    color: #0d1f3aff;
    cursor: pointer;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    line-height: 1;
    border-color: #0d1f3aff;
    border-width: 2px !important;
    text-transform: uppercase;
    background-color: transparent;
}


.footer-bottom-container {
    width: 100%;
    display: flex;
    margin-bottom: 96px;
    justify-content: space-between;
}
.footer-left-side {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-image {
    margin-bottom: 32px;
}

img {
    display: block;
}
.footer-text04 {
    color: white;
    max-width: 350px;
    margin-bottom: 60px;
    text-transform: none;
}
.footer-social-media {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-text05 {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 24px;
}
.footer-container {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.footer-links {
    flex: 0 0 auto;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.footer-container1 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-text06 {
    color: white;
    cursor: default;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}
.footer-link {
    color: white;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 24px;
}
.footer-text12 {
    margin-bottom: 0px;
}
.footer-container2 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-text13 {
    color: white;
    cursor: default;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}
.footer-text20 {
    margin-bottom: 0px;
}








@media (max-width: 479px) {
    .footer-text03 {
        text-align: center;
    }
    .footer-btns-container {
        align-items: stretch;
        flex-direction: column;
    }
    .footer-register-now {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .button-primary {
        padding-top: 20px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 20px;
    }
    .button-outline {
        padding-left: 22px;
        padding-right: 22px;
    }
    .footer-links {
        flex-wrap: wrap;
    }
    .footer-container1 {
        width: 100%;
        margin-bottom: 48px;
    }
    .footer-text06 {
        margin-bottom: 32px;
    }
    .footer-container2 {
        width: 100%;
        margin-bottom: 48px;
    }
    .footer-text13 {
        margin-bottom: 32px;
    }

}
@media (max-width: 767px) {
    .section-container {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .footer-btns-container {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .footer-bottom-container {
        flex-direction: column-reverse;
    }
    .footer-left-side {
        width: 100%;
    }
    .footer-links {
        width: 100%;
        margin-bottom: 48px;
    }
}