<header data-role="Header" class="navigation-header">
    <div class="navigation-max-width">
      <img class="logo" alt="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Walmart_logo.svg/2560px-Walmart_logo.svg.png" />
      <div class="navigation-nav">
        <nav
          class="navigation-links-nav navigation-links-root-class-name17"
        >
          <span class="navigation-links-text Navigation-Link">
            <span routerLink="/aboutus" >About Us</span>
          </span>
          <span class="navigation-links-text1 Navigation-Link">
            <span routerLink="/product-view">Products</span>
          </span>
          <span class="navigation-links-text2 Navigation-Link">
            <span routerLink="/contact">Contact</span>
          </span>
        </nav>
        <button
          class="navigation-register button-primary button button-md"
        >
          <span>Log In</span>
        </button>
      </div>
    </div>
</header>