
<div class="home-numbers-banner section-container">
    <div class="home-container2 max-content-container">
      <div class="home-heading-container1">
        <span class="home-text10">
            Working together to spark change
        </span>
        <h1 class="home-text11 Heading2">
          <span>Better everyday low prices! Always.</span>
        </h1>
      </div>
      <div class="home-numbers-container">
        <div class="numbers-card-numbers-card">

          <i class="fa-solid fa-message"></i>

          <span class="numbers-card-number"><span>1</span></span>
          <span class="numbers-card-text"><span>Lorem, ipsum dolor.</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <i class="fa-solid fa-microphone"></i>

          <span class="numbers-card-number"><span>2</span></span>
          <span class="numbers-card-text"><span>Lorem, ipsum dolor.</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <i class="fa-solid fa-phone"></i>
          <span class="numbers-card-number"><span>3</span></span>
          <span class="numbers-card-text">
            <span>Lorem, ipsum dolor.</span>
          </span>
        </div>
        <div class="numbers-card-numbers-card">
          <i class="fa-solid fa-calendar-days"></i>
          <span class="numbers-card-number"><span>4</span></span>
          <span class="numbers-card-text"><span>Lorem, ipsum dolor.</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <i class="fa-solid fa-briefcase"></i>
          <span class="numbers-card-number"><span>5</span></span>
          <span class="numbers-card-text"><span>Lorem, ipsum dolor.</span></span>
        </div>
        <div class="numbers-card-numbers-card">
          <i class="fa-solid fa-location-dot"></i>
          <span class="numbers-card-number"><span>6</span></span>
          <span class="numbers-card-text"><span>Lorem, ipsum dolor.</span></span>
        </div>
      </div>
    </div>
  </div>


  <div class="home-location">
    <img
      alt="image"
      src="https://i.pinimg.com/564x/1d/04/71/1d04712ad35dd931b26676b707f4e3a4.jpg"
      class="home-image6"
    />
    <div class="home-content-container1 section-container">
      <div class="home-container3">
        <span class="home-text13">Join us on Social</span>
        <span class="home-text14">Our Impact</span>
        <div class="home-container4">
          <span class="home-text15"><span>— Helping</span></span>
          <span class="home-text17"><span>people</span></span>
          <span class="home-text19"><span>live better</span></span>
        </div>
        <div class="home-container5">
          <span class="home-text21">diversity, equity and inclusion</span>
          <span class="home-text22">
            <span>
                Last year, Walmart and the Walmart Foundation provided more than $1.7 
                billion in cash and in-kind to support programs that align with our philanthropic 
                priorities. We focus on areas where we can do the most good — combining the unique strengths 
                of the business alongside our philanthropy.
            </span>
            <br />
            <span></span>
            <br />
            <span>
                We focus our philanthropic support across these areas keeping diversity, 
                equity and inclusion at the heart of our philanthrophy.
            </span>
          </span>
          <div class="home-btns-container1">
            <button class="button-secondary button button-md">
                Show More
            </button>
            <button
              class="home-learn-more button button-outline button-md-border"
            >
              learn more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>